* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: .2rem;
    /* background-color: black; */
    color: rgba(57, 48, 48, 0.464);
    padding: 1rem;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.logo{
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
    left: 2%;
    color: gray;
    animation: logo 1s ease-in-out infinite;
}
.logo:hover{
    color: rgb(33, 144, 158);
}
@keyframes logo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.menu{
    display: flex;
    background-color: gray;
    padding: 1.1rem;
    border-radius: 2rem;
    position: relative;
    /* left: -38%; */
    gap: 1.5rem;
    list-style: none;
    text-decoration: none;
}
.menu a {
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 1;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.menu a:hover{
    color: rgba(108, 231, 231, 0.457);
   border-bottom: .2px solid rgb(65, 60, 60);
   transition: .2s ease-in-out;
}
.contact a {
    text-decoration: none;
    border:1px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 1;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.contact a:hover{
    color: rgb(37, 138, 182);
}

/* Responsive Navbar */

@media screen and (max-width: 600px) {
 .menu{
    display: none;
 }   
 .contact {
    display: none;
 }
}